#######################################
# PostgreSQL
#######################################

DATABASE_HOST=localhost
DATABASE_PORT=5432

DATABASE_NAME=payments
DATABASE_USERNAME=postgres
DATABASE_PASSWORD=1234

#######################################
# Liquibase
#######################################

SPRING_LIQUIBASE_CONTEXTS=dev

#######################################
# RabbitMQ
#######################################

RABBIT_MQ_USERNAME=guest
RABBIT_MQ_PASSWORD=guest